# Application Environment Variables Template

# Name of the application
APP_NAME=nosync-monitor
# Logging configuration level (e.g. info, debug, trace)
RUST_LOG=info

# Hyperliquid configuration
# Ethereum wallet address to monitor on Hyperliquid
WALLET_ADDRESS=0xc64cc00b46101bd40aa1c3121195e85c0b0918d8
# Whether to monitor on Testnet (true) or Mainnet (false)
IS_TESTNET=true
